In [2]:
import pandas as pd

In [3]:
# Load the data
users = pd.read_csv(r'C:\Users\Public\Fetch Take home challenge\USER_TAKEHOME.csv')
transactions = pd.read_csv(r'C:\Users\Public\Fetch Take home challenge\TRANSACTION_TAKEHOME.csv')
products = pd.read_csv(r'C:\Users\Public\Fetch Take home challenge\PRODUCTS_TAKEHOME.csv')

In [4]:
# Check for missing values
print(users.isnull().sum())
print(transactions.isnull().sum())
print(products.isnull().sum())

ID                  0
CREATED_DATE        0
BIRTH_DATE       3675
STATE            4812
LANGUAGE        30508
GENDER           5892
dtype: int64
RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64
CATEGORY_1         111
CATEGORY_2        1424
CATEGORY_3       60566
CATEGORY_4      778093
MANUFACTURER    226474
BRAND           226472
BARCODE           4025
dtype: int64

In [5]:
# Check for duplicates
print(users.duplicated().sum())
print(transactions.duplicated().sum())
print(products.duplicated().sum())

0
171
215

In [9]:
print(transactions[transactions.duplicated()])
print(products[products.duplicated()])

                                 RECEIPT_ID PURCHASE_DATE  \
2724   1c12bd8a-c68c-41ee-a26d-294021d3e0b8    2024-09-07
4192   2acd7e8d-37df-4e51-8ee5-9a9c8c1d9711    2024-09-08
6572   431fe612-ed55-470e-939c-043ad31f33f3    2024-09-07
6623   43955b35-6fbc-4909-a4de-1a0de0dc387f    2024-09-06
7675   4ec870d2-c39f-4a40-bf8a-26a079409b20    2024-09-08
...                                     ...           ...
49651  93f45c94-af38-42d4-a3fe-eb9d5b24efbb    2024-09-03
49660  eee21773-6946-474a-9978-fe0659140973    2024-07-26
49759  01a70fe0-026f-4bea-9da4-7d13bbf21e9a    2024-09-02
49911  874a8116-3342-4b4a-9d24-4666e0ab1052    2024-08-31
49941  e0a60958-e8ef-4fa0-8b1a-5ad01dd64403    2024-07-27

                       SCAN_DATE            STORE_NAME  \
2724   2024-09-07 15:44:35.241 Z                   CVS
4192   2024-09-08 11:13:01.935 Z               WALMART
6572   2024-09-07 16:39:01.409 Z  DOLLAR GENERAL STORE
6623   2024-09-08 18:32:30.031 Z               WALMART
7675   2024-09-08 19:39:01.589 Z               WALMART
...                          ...                   ...
49651  2024-09-08 12:20:50.611 Z                PUBLIX
49660  2024-07-29 20:40:25.073 Z                PUBLIX
49759  2024-09-07 16:02:39.835 Z               WALMART
49911  2024-08-31 22:41:03.829 Z                   CVS
49941  2024-07-30 09:19:00.955 Z                  ALDI

                        USER_ID       BARCODE FINAL_QUANTITY FINAL_SALE
2724   65af09757050d0a6206ab136           NaN           1.00
4192   663140f9b7b24d45d938f3be  2.400005e+10           1.00
6572   5e038cebcb322c11de193bb7  1.200050e+10           1.00
6623   625364ddda4fb11c8a9fcb85  3.716877e+11           zero      12.97
7675   638e9ae602a4e512e0585b59  7.239202e+10           zero       1.48
...                         ...           ...            ...        ...
49651  660a0ce6828f877fdee915a1           NaN           1.00       4.40
49660  60cff0e7e265b446d62200b2  4.178027e+10           1.00       4.79
49759  614e733372ba844aa8dc345e  4.178900e+10           1.00       0.52
49911  63a4ef6bb5f32149b9d86e66           NaN           1.00       3.00
49941  5d6072320d1bff58a8686adc           NaN           1.00       0.99

[171 rows x 8 columns]
               CATEGORY_1    CATEGORY_2        CATEGORY_3 CATEGORY_4  \
76394              Snacks         Candy               Gum        NaN
87568              Snacks         Chips            Crisps        NaN
91710   Health & Wellness     Skin Care               NaN        NaN
100470             Snacks         Candy  Confection Candy        NaN
109639         Restaurant     Beverages              Soda  Diet Soda
...                   ...           ...               ...        ...
827242             Snacks         Candy   Chocolate Candy        NaN
833620             Snacks         Candy   Chocolate Candy        NaN
834874             Snacks  Nuts & Seeds           Peanuts        NaN
838643             Snacks         Candy   Chocolate Candy        NaN
843215             Snacks         Candy   Chocolate Candy        NaN

               MANUFACTURER         BRAND     BARCODE
76394   THE HERSHEY COMPANY  ICE BREAKERS   3498507.0
87568          TRADER JOE'S  TRADER JOE'S    952811.0
91710      BEIERSDORF, INC.    COPPERTONE         NaN
100470         LIDL US, LLC          LIDL  20744731.0
109639              PEPSICO         PEPSI         NaN
...                     ...           ...         ...
827242  THE HERSHEY COMPANY     HERSHEY'S   3423905.0
833620  THE HERSHEY COMPANY     HERSHEY'S         NaN
834874                  NaN           NaN   3415207.0
838643  THE HERSHEY COMPANY       REESE'S   3473108.0
843215  THE HERSHEY COMPANY     HERSHEY'S   3424001.0

[215 rows x 7 columns]

In [8]:
# Basic statistics
print(users.describe())

                              ID               CREATED_DATE  \
count                     100000                     100000
unique                    100000                      99942
top     624791449082231a3d7c56de  2023-04-06 22:59:46.000 Z
freq                           1                          2

                       BIRTH_DATE  STATE LANGUAGE  GENDER
count                       96325  95188    69492   94108
unique                      54721     52        2      11
top     1970-01-01 00:00:00.000 Z     TX       en  female
freq                         1272   9028    63403   64240

In [9]:
print(transactions.describe())
print(products.describe())

            BARCODE
count  4.423800e+04
mean   1.715863e+11
std    3.269219e+11
min   -1.000000e+00
25%    3.077212e+10
50%    5.210004e+10
75%    8.536765e+10
max    9.347108e+12
            BARCODE
count  8.415270e+05
mean   6.016109e+11
std    1.022530e+12
min    1.850000e+02
25%    7.124923e+10
50%    6.344185e+11
75%    7.683955e+11
max    6.291108e+13

In [10]:
#Remove duplicates for Product table
products_unique = products.drop_duplicates()

In [ ]:
#output to csv
products_unique.to_csv('products_unique.csv',index = False,encoding = 'utf-8')